.bg-cover {
     background-size: cover !important;
 }
 
 body {
     min-height: 100vh;
     
 }

 .btn {
      background-color: #555555;
      border: #555555;
     }

.btn:hover{
     background-color: #333333;
}
#homeId{
     margin-top: 56px;
}

/* card */

.card-img-top{
     height: 80vh;
     width: 160vh;
     margin-left: 150px;
}
.card{
     background-color: #f5f5f5;
     border: none;
}
