<head> 
  <meta name="description" content="All apartments from our complex are very modern and practically equipped and will provide you with maximum comfort and 
  functionality in a pleasantly designed interior. From the start, special emphasis was placed on maintaining hygiene, and with the appearance of the 
  Covid 19 pandemic, hygiene standards and equipment of the apartment with hygiene and disinfection products were raised to the highest level.
  The apartments are located in geographical locations ideal for both active and passive vacation, because they are surrounded by untouched nature 
  on the one hand, and on the other, because they are well connected with many tourist attractions.">
</head>

<div style="background: url('../../assets/2.jpg')"  class="jumbotron bg-cover text-white" id="homeId">
  <div class="container py-5 text-center">
      <h1 class="display-5 font-italic mb-0" translate>homepage.title1</h1>
      <br>
      <p class="font-italic mb-0" translate>homepage.title2</p>
      <br>
      <p class="font-italic" translate>homepage.title3</p>
      <a [routerLink]="['/apartments']" role="button" class="btn btn-primary px-5" translate>homepage.apartments</a>
  </div>
</div>

<div class="container py-5">
  <div class="row">
      <div class="col-lg-10 mb-4">
          <p class="font-italic text-muted" translate>homepage.text1</p>
          <p class="font-italic text-muted" translate>homepage.text2</p>
      </div>
      <div class="col-lg-8">
          <p class="font-italic text-muted" translate>homepage.text3</p>
      </div>
  </div>
</div>

<div class="card mb-3">
  <img src="'../../assets/8.jpg" class="card-img-top" alt="Picture of apartment">
  <div class="card-body">
    <h5 class="card-title" translate>homepage.title4</h5>
    <p class="card-text" translate>homepage.text4</p>
  </div>
</div>
