bg-cover {
     background-size: cover !important;
     /* background-repeat: no-repeat; */
 }
 
 body {
     min-height: 100vh;
     
 }

 .btn {
      background-color: #555555;
      border: #555555;
     }

.btn:hover{
     background-color: #333333;
}
#homeId{
     margin-top: 56px;
}
