a.nav-link{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    border-bottom: 3px solid transparent;
}

.no-outline:focus{
  outline: none;  
  box-shadow: none;
}

 a.nav-link:hover {
    border-bottom: 3px solid black;
  }

  a.dropdown-item:hover {
    background-color:#d9232d;
}
  
  
  a.nav-link.active {
    border-bottom: 3px solid red;
  }

  @media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 77px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}



