<div class="card bg-dark text-white">
    <img class="card-img" src="../../assets/email-6370595_960_720.jpg" alt="Card image">
    <div class="card-img-overlay">
      <!-- <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p> -->
    </div>
  </div>

<section class="section gray-bg" id="contactus">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>!Kontaktirajte nas!</h2>
                    <p>Pitajte nas, odgovaramo u najbržem mogućem roku.</p>
                </div>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-md-7 col-lg-8 m-15px-tb">
                <div class="contact-form">
                     <form role="form" action="https://formsubmit.io/send/jovasevicjul@gmail.com" method="post" class="contactform contact_form" id="contact_form">
                        <div class="returnmessage valid-feedback p-15px-b" data-success="Your message has been received, We will contact you soon."></div>
                        <div class="empty_notice invalid-feedback p-15px-b"><span>Please Fill Required Fields</span></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="name" type="text" placeholder="Ime i prezime" class="form-control" name="name" required> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="email" type="email" placeholder="Email" class="form-control" name="email" required>  
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input id="subject" type="text" placeholder="Predmet poruke" class="form-control"> 
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea id="message" placeholder="Poruka" class="form-control" rows="3"></textarea> 
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send">
                                    <button id="send_message" class="btn btn-secondary btn-lg btn-block" type="submit"><span>Pošalji</span> <i class="arrow"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 m-15px-tb">
                <div class="contact-name">
                    <h5>Email</h5>
                    <p>jovasevicjul@gmail.com</p>
                </div>
                <div class="contact-name">
                    <h5>Naša poslovnica</h5>
                    <p>Arčibalda Rajsa 11, <br>Filmski grad, Beograd</p>
                </div>
                <div class="contact-name">
                    <h5>Telefon</h5>
                    <p>+381658935189</p>
                </div>
                <div class="social-share nav">
                    <a class="dribbble" href="https://www.facebook.com/ZumAltenMoar/">
                        <i class="fab fa-dribbble"></i>
                    </a>
                    <a class="behance" href="https://www.instagram.com/zum_alten_moar/?hl=en">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a class="linkedin" href="https://www.youtube.com/watch?v=2EJNhvht9hg">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
