<head> 
    <meta name="description" content="Pictures of Happy Home apartments will delight you. So much beautiful nature and socializing, all in the Happy Home 
    apartments. Pictures of apartments on Tara, Kopaonik, Belgrade, Nis, Sokobanja ...">
</head>

<div *ngFor="let image of images; let i = index">
    <div class="bg-image">
        <a style="cursor: pointer;" data-toggle="modal" data-target="#pictures" (click)="setParams(i+1)">
                <img src="{{image.img}}" id="pic" alt="Pictures of apartments"/>
        </a>
    </div>
</div>

<!-- <div class="bg-image img1" >
    <img src="../../assets/3.jpg" id = "pic">
</div>
<div class="bg-image img2">
    <img src="../../assets/4.jpg" id = "pic">
</div>
<div class="bg-image img3">
    <img src="../../assets/5.jpg" id = "pic">
</div>
<div class="bg-image img4">
    <img src="../../assets/6.jpg" id = "pic">
</div> -->

<div class="bg-text">Happy Home</div>

