
<footer class="container-fluid bg-grey py-5">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 ">
                   <div class="logo-part">
                      <img src="../../assets/logo.PNG" class="w-50 logo-footer" >
                      <p>Kontaktirajte glavnog menadžera</p>
                      <p>Julijana Jovašević +381645682364</p>
                   </div>
                </div>
                <div class="col-md-6 px-4">
                   <h6>O apartmanima</h6>
                   <p>Ukoliko tražite mesto za uživanje i odmor, pravi smo za vas!</p>
                   <a href="#" class="btn-footer">Galerija</a><br>
                   <a href="#" class="btn-footer">Kontakt</a>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 px-4">
                   <h6>Pogledajte</h6>
                   <div class="row ">
                      <div class="col-md-6">
                         <ul>
                            <li> <a href="#"> Početna</a> </li>
                            <!-- <li> <a href="#"> Team</a> </li> -->
                            <li> <a href="#"> Apartmani</a> </li>
                            <!-- <li> <a href="#"> Help</a> </li> -->
                            <li> <a href="#"> Kontakt</a> </li>
                            <!-- <li> <a href="#"> Contact</a> </li> -->
                         </ul>
                      </div>
                      <div class="col-md-6 px-4">
                         <!-- <ul>
                            <li> <a href="#"> Cab Faciliy</a> </li>
                            <li> <a href="#"> Fax</a> </li>
                            <li> <a href="#"> Terms</a> </li>
                            <li> <a href="#"> Policy</a> </li>
                            <li> <a href="#"> Refunds</a> </li>
                            <li> <a href="#"> Paypal</a> </li>
                         </ul> -->
                      </div>
                   </div>
                </div>
                <div class="col-md-6 ">
                   <h6> Društvene mreže</h6>
                   <div class="social">
                      <a href="https://www.facebook.com/ZumAltenMoar/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                      <a href="https://www.instagram.com/zum_alten_moar/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                   </div>
                   <form class="form-footer my-3">
                      <!-- <input type="text"  placeholder="search here...." name="search">
                      <input type="button" value="Go" > -->
                   </form>
                   <p>Pogledajte apartmane i komentare naših gostiju putem naših društvenih mreža.</p>
                </div>
             </div>
          </div>
       </div>
    </div>
    </footer>

<!-- <footer style="background-color: #292929; color: white;">
    <div class="container pt-5">
        <div class="row py-4">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" style="padding-right: 5%;"><img
                    src="../../assets/glavniLogo.png" alt="" width="70%" class="mb-3">
                <p class="font-italic" translate>footer.motivation_message</p>
                <ul class="list-inline mt-4">
                    <li class="list-inline-item"><a
                            href="https://www.facebook.com/Tasi%C4%87-Enterijeri-1061640630607138/" target="_blank"
                            title="facebook"><i style="font-size: 30px;" class="fa fa-facebook-square"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/tasic_enterijeri/" target="_blank"
                            title="instagram"><i style="font-size: 30px;" class="fa fa-instagram"></i></a>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4" translate>footer.contact</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <p class="text-muted">Predrag Tasić: +381642299255 </p>
                    </li>
                    <li class="mb-2">
                        <p class="text-muted">Nenad Tasić: +381642615353</p>
                    </li>
                    <li class="mb-2">
                        <p class="text-muted">Email: tasicenterijeri@gmail.com</p>
                    </li>
                    <li class="mb-2">
                        <p class="text-muted" translate>footer.work_hours</p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4" translate>footer.location</h6>
                <div style="width: 100%"><iframe width="100%" height="100%" frameborder="0" scrolling="no"
                        marginheight="0" marginwidth="0"
                        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Tasic%20Enterijeri,%20E761,%20Drijetanj,%20Serbia+(Tasic%20enterijeri)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                </div>
            </div>
        </div>
    </div>

</footer> -->