
<footer class="container-fluid bg-grey py-5">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 ">
                   <div class="logo-part">
                      <img src="../../assets/logo.PNG" class="w-50 logo-footer" >
                      <p translate>footer.manager_contact</p>
                      <p>Julijana Jovašević +381645682364</p>
                   </div>
                </div>
                <div class="col-md-6 px-4">
                   <h6 translate>footer.title1</h6>
                   <p translate>footer.motivation_message</p>
                   <a href="prices" class="btn-footer" translate>footer.price</a><br>
                   <a href="contact" class="btn-footer" translate>footer.contact</a>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 px-4">
                   <h6 translate>footer.title2</h6>
                   <div class="row ">
                      <div class="col-md-6">
                         <ul>
                            <li> <a href="#" translate> footer.home</a> </li>
                            <li> <a href="apartments" translate>footer.apartments</a></li>
                            <li> <a href="contact" translate> footer.contact</a> </li>
                         </ul>
                      </div>
                      <div class="col-md-6 px-4">
                         <!-- <ul>
                            <li> <a href="#"> Cab Faciliy</a> </li>
                            <li> <a href="#"> Fax</a> </li>
                            <li> <a href="#"> Terms</a> </li>
                            <li> <a href="#"> Policy</a> </li>
                            <li> <a href="#"> Refunds</a> </li>
                            <li> <a href="#"> Paypal</a> </li>
                         </ul> -->
                      </div>
                   </div>
                </div>
                <div class="col-md-6 ">
                   <h6 translate>footer.title3</h6>
                   <div class="social">
                      <a href="https://www.facebook.com/profile.php?id=100067638023512"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                      <a href="https://www.instagram.com/happyhomeaprtment/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                   </div>
                   <form class="form-footer my-3">
                      <!-- <input type="text"  placeholder="search here...." name="search">
                      <input type="button" value="Go" > -->
                   </form>
                   <p translate>footer.information</p>
                </div>
             </div>
          </div>
       </div>
    </div>
    </footer>

