<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../../assets/VukovSplav.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">Happy Homes</h1>
          <p class="lead mb-0" translate>price.title1</p>
        </div>
      </div>
    </div>
  </header>

<!-- <div style="background-image: url(../assets/bela.jpg)!important; background-size: cover; background-repeat: no-repeat;"> -->
<div style="background-color: rgb(238, 238, 238);">
    <div class="demo10" id="priceId">
        <div class="container">
            <h2 class="py-4 text-center" style="font-family: varsity;" translate>price.title2</h2>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable10">
                        <div class="pricingTable-header">
                            <h3 class="heading" translate>price.titlePerucac</h3>
                            <span class="price-value">
                                <span class="currency">€</span> 60 
                                <span class="days">/day</span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li translate>price.infoP1</li>
                                <li translate>price.infoP2</li>
                                <li translate>price.infoP3</li>
                                <li translate>price.infoP4</li>
                                <li translate>price.infoP5</li>
                            </ul>
                            <a [routerLink]="['/gallery/1']" class="read" translate>price.gallery</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable10">
                        <div class="pricingTable-header">
                            <h3 class="heading" translate>price.titlePlaninska</h3>
                            <span class="price-value">
                                <span class="currency">€</span> 35
                                <span class="days">/day</span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li translate>price.infoS1</li>
                                <li translate>price.infoS2</li>
                                <li translate>price.infoS3</li>
                                <li translate>price.infoS4</li>
                                <li translate>price.infoS5</li>
                            </ul>
                            <a [routerLink]="['/gallery/2']" class="read" translate>price.gallery</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable10">
                        <div class="pricingTable-header">
                            <h3 class="heading">Banjska Stena</h3>
                            <span class="price-value">
                                <span class="currency">€</span> 75
                                <span class="days">/day</span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li translate>price.infoT1</li>
                                <li translate>price.infoT2</li>
                                <li translate>price.infoT3</li>
                                <li translate>price.infoT4</li>
                                <li translate>price.infoT5</li>
                            </ul>
                            <a [routerLink]="['/gallery/3']" class="read" translate>price.gallery</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable10">
                        <div class="pricingTable-header">
                            <h3 class="heading" translate>price.titleBeograd</h3>
                            <span class="price-value">
                                <span class="currency">€</span> 65
                                <span class="days">/day</span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li translate>price.infoB1</li>
                                <li translate>price.infoB2</li>
                                <li translate>price.infoB3</li>
                                <li translate>price.infoB4</li>
                                <li translate>price.infoB5</li>
                            </ul>
                            <a [routerLink]="['/gallery/4']" class="read" translate>price.gallery</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="demo10">
        <div class="container">
            <!-- <h4 class="py-4 text-center">Cene apartmana</h4> -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable10">
                        <div class="pricingTable-header">
                            <h3 class="heading">Sokobanja</h3>
                            <span class="price-value">
                                <span class="currency">€</span> 40 
                                <span class="days">/day</span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li translate>price.infoSoko1</li>
                                <li translate>price.infoSoko2</li>
                                <li translate>price.infoSoko3</li>
                                <li translate>price.infoSoko4</li>
                                <li translate>price.infoSoko5</li>
                            </ul>
                            <a [routerLink]="['/gallery/5']" class="read" translate>price.gallery</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable10">
                        <div class="pricingTable-header">
                            <h3 class="heading" translate>price.titleNis</h3>
                            <span class="price-value">
                                <span class="currency">€</span> 55
                                <span class="days">/day</span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li>Niš</li>
                                <li translate>price.infoN1</li>
                                <li translate>price.infoN1</li>
                                <li translate>price.infoN1</li>
                                <li translate>price.infoN1</li>
                            </ul>
                            <a [routerLink]="['/gallery/6']" class="read" translate>price.gallery</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable10">
                        <div class="pricingTable-header">
                            <h3 class="heading" translate>price.titleBungalov</h3>
                            <span class="price-value">
                                <span class="currency">€</span> 60
                                <span class="days">/day</span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li translate>price.soon</li>
                                <li translate>Kopaonik</li>
                                <li translate>price.infoK1</li>
                                <li translate>price.infoK2</li>
                                <li translate>price.infoK3</li>
                            </ul>
                            <a [routerLink]="['/gallery/7']" class="read" translate>price.gallery</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable10">
                        <div class="pricingTable-header">
                            <h3 class="heading">Frušlije</h3>
                            <span class="price-value">
                                <span class="currency">€</span> 85
                                <span class="days">/day</span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li translate>price.soon</li>
                                <li translate>Fruška gora</li>
                                <li translate>price.infoF1</li>
                                <li translate>price.infoF2</li>
                                <li translate>price.infoF3</li>
                            </ul>
                            <a [routerLink]="['/gallery/8']" class="read" translate>price.gallery</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
